<div class="add-task-component">
  <button data-path="<%= new_skill_task_task_component_path(@skill, @task) %>" class="add-task-component" >
    Add some info
  </button>
</div>

<div class="add-task-component-container"></div>
