<%= link_to '<i class="fa fa-plus-circle fa-lg"></i>'.html_safe, new_skill_task_task_component_path(@skill, @task), :class => 'add-task-component first' %>

<div class="add-task-component-container"></div>
