<% if complete?(task) %>
  <div class="notice-success status-notice">
    <span>You completed this on <%= l task.completion_date_for(current_user), format: :long %></span>
  </div>

  <input
    data-path="<%= task_redo_skill_task_path(@skill, task) %>"
    type="submit"
    class="task-status complete"
    value="Undo">
<% else %>
  <input
    data-path="<%= task_complete_skill_task_path(@skill, task) %>"
    type="submit"
    class="task-status todo"
    value="Hey I know this one">
<% end %>
