

<div class="task-component-select">
  <% @creatable_objects.each do |obj| %>

    <button data-path="<%= new_polymorphic_url([@skill, @task, obj]) %>" class="task-component-type-link" >
      <%= obj.create_type_name %>
    </button>
  <% end %>
</div>

<div class="task-component-form-container"></div>
