<nav role="navigation">
  <ul class="navigation-menu">
    <% competencies.each do |competency| %>
      <li class="nav-link competency-status">
        <a href="<%= competency_path(competency) %>">
        <%= competency.title %>
        <span class="badge-notice"><%= skill_completion(competency) %> skills</span>
        <span class="badge-success"><%= score(competency) %> pts</span>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
