<% cache "#{@competencies}-#{current_user.mark_stamp}-competency-index" do %>

<nav role="navigation">
  <ul class="navigation-menu">
    <li class="nav-link competency-status">
      All competencies
    </li>
  </ul>
</nav>

<nav role="navigation" class="secondary">
  <ul class="navigation-menu">
    <% current_user.competencies.take(3).each do |competency| %>
      <% next unless competency.subscribed_by?(current_user) %>

      <li class="nav-link competency-status">
        <a href="<%= competency_path(competency) %>">
          <%= competency.title %>
          <%= competency_percentage(competency) %>
        </a>
      </li>
    <% end %>
  </ul>
</nav>

<% end %>
