<div class="scores">
  <span class="competency-stat large-badge-success"><%= competency_percentage(competency) %></span>
  <span class="competency-stat large-badge-success"><%= competency_score(competency) %></span>
  <span class="competency-stat large-badge-notice"><%= skill_completion(competency) %> skills</span>
</div>
