<div class="subscribe">

  <input
   data-path="<%= subscribe_competency_path(competency) %>"
   type="submit"
   class="competency-subscribe unsubscribed"
   value="This is important to me">

</div>
