$badge-font-size: 0.85em !default;

@mixin badge($color: $medium-gray, $font-size: $badge-font-size ) {
  @include transition (all $base-fade-speed ease-in-out);

  background-color: darken($color, 15%);
  // border-radius: $badge-font-size * 5;
  color: darken($color, 60%);
  display: inline-block;
  font-size: $font-size;
  font-weight: 600;
  line-height: 1;
  padding: $badge-font-size/2 $badge-font-size*1.3;

  &:hover {
    background-color: darken($color, 10%);
  }
}

.badge {
  @include badge;
}

.badge-alert {
  @include badge($alert-color, $badge-font-size);
}

.badge-error {
  @include badge($error-color, $badge-font-size);
}

.badge-notice {
  @include badge($notice-color, $badge-font-size);
}

.badge-success {
  @include badge($success-color, $badge-font-size);
}
