@mixin flash($color) {
  z-index: 9999;
  cursor: pointer;
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  @include animate(fadeIn, $base-fade-speed);

  a {
    color: darken($color, 70%);

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-warning {
  @include flash($warning-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

.flash-skill-points {
  @include flash($success-color);
}

.flash-task-points {
  @include flash($success-color);
}

.flash-skill-complete {
  @include flash($success-color);
}

.flash-task-complete {
  @include flash($success-color);
}
