@mixin notice($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  padding: $base-spacing / 2;
  text-align: center;

  @include animate(fadeIn, $base-fade-speed);

  a {
    color: darken($color, 70%);

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.notice-warning {
  @include notice($warning-color);
}

.notice-error {
  @include notice($error-color);
}

.notice-notice {
  @include notice($notice-color);
}

.notice-success {
  @include notice($success-color);
}
