// Place all the styles related to the competencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.competency {
  padding-top: $base-spacing/2;

  @include outer-container();
  @include animate(fadeIn, $base-fade-speed);


  & > .header {
    padding-top: $base-spacing/2;

    h1 {
      font-size: $base-font-size*2;
      color: $medium-gray;
      line-height: $base-font-size*1.5;
      @include span-columns(8);
    }

    > .subscribe {
      input {
        @include span-columns(4);
        height: 48px;
      }

      input.competency-subscribe {
        float: right;
        @include transition( all $base-fade-speed ease-in-out);

        &.unsubscribed {
          background-color: darken($success-color, 38%);
        }

        &.subscribed {
          background-color: darken($light-gray, 15%);
        }
      }

      input.competency-subscribe:hover {

        &.unsubscribed {
          background-color: darken($success-color, 45%);
        }

        &.subscribed {
          background-color: darken($light-gray, 35%);
        }
      }
    }
  }


  // More explicit styles for task-card items live under
  // tasks.css.scss
  .skills {
    @include span-columns(12);

    .skill-card {
      @include span-columns(4 of 12);
    }
  }
}

li.competency-status * span:first-child {
  margin-left: $base-spacing/2;
}
