// Place all the styles related to the competencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.competency {
  padding-top: $base-spacing/2;

  @include outer-container();
  @include animate(fadeIn, $base-fade-speed);

  & .header {
    @include span-columns(12);

    padding-top: $base-spacing/2;

    h1 {
      font-size: $base-font-size*2;
      color: $medium-gray;
      line-height: $base-font-size*1.5;
      margin-bottom: 0;
      @include span-columns(8);
    }

    .scores {
      @include span-columns(4);

      .competency-stat {
        margin: $base-spacing/6;
      }
    }

    .subscribe, .view {
      input {
        @include span-columns(4);
        height: 48px;
      }

      input.competency-subscribe, input.competency-view {
        @include animate(fadeIn, $base-fade-speed);

        float: right;
        @include transition( all $base-fade-speed ease-in-out);

        &.unsubscribed {
          background-color: darken($success-color, 38%);
        }

        &.subscribed {
          background-color: darken($light-gray, 15%);
        }
      }

      input.competency-subscribe:hover, input.competency-view:hover {
        &.unsubscribed {
          background-color: darken($success-color, 45%);
        }

        &.subscribed {
          background-color: darken($light-gray, 35%);
        }
      }
    }
  }

  & .description {
    padding-top: $base-spacing;
    @include span-columns(12);
  }


  .status {
    input.competency-subscribe {
      @include animate(fadeIn, $base-fade-speed);

      float: right;
      @include transition( all $base-fade-speed ease-in-out);

      &.subscribed {
        background-color: darken($light-gray, 15%);
      }
    }

    input.competency-subscribe:hover {
      &.subscribed {
        background-color: darken($light-gray, 35%);
      }
    }
  }


  // More explicit styles for task-card items live under
  // tasks.css.scss
  .skills {
    @include span-columns(12);

    .skill-card {
      @include span-columns(4);
      @include omega(4n);
    }
  }

  > .status {
    @include span-columns(12);
    padding-bottom: $base-spacing * 2;
    padding-top: $base-spacing * 2;

    @include animate(fadeIn, $lingering-fade-speed);

    .status-notice {
      @include span-columns(8);
      height: 48px;
    }

    input {
      @include span-columns(4);
      height: 48px;
    }
  }
}


li.competency-status * span:first-child {
  margin-left: $base-spacing/2;
}

.competency.preview {
  cursor: pointer;
}
