// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task {
  padding-top: $base-spacing/2;

  @include outer-container();
  @include animate(fadeIn, $base-fade-speed);

  > .header {

    .title {
      background: rgba(0, 0, 0, 0.7);
      margin-top:  $base-spacing*2;
      margin-bottom:  $base-spacing*2;

      padding-top:  $base-spacing;
      padding-bottom:  $base-spacing;

      @include span-columns(6);
      @include shift(3);

      h1 {
        margin: 0;
        padding: 0;
        font-size: 2em;
        color: $light-gray;
      }
    }
  }

  .modified {
    color: $medium-gray;
    font-size: 0.8em;
    line-height: $base-line-height*2;
  }

  > .description {
    padding-top: $base-spacing/3;
    @include span-columns(12);
  }

  > .resources {
    @include span-columns(12);
  }

  > .status {
    @include span-columns(12);
    padding-bottom: $base-spacing * 2;
    padding-top: $base-spacing * 2;

    @include animate(fadeIn, $lingering-fade-speed);

    .status-notice {
      @include span-columns(8);
      height: 48px;
    }

    input {
      @include span-columns(4);
      height: 48px;
    }

    input.task-status {
      float: right;
      @include transition( all $base-fade-speed );

      &.todo {
        background-color: darken($success-color, 38%);
      }

      &.complete {
        background-color: darken($light-gray, 15%);
      }
    }

    input.task-status:hover {
      @include transition( all $base-fade-speed );

      &.todo {
        background-color: darken($success-color, 45%);
      }

      &.complete {
        background-color: darken($light-gray, 35%);
      }
    }
  }
}

.card.task-card[data-complete=true] {
  @include transition (all $base-fade-speed ease-in-out);
  color: $medium-gray;
  background-color: lighten($success-color, 5%) !important;

  &:hover {
    background-color: lighten($success-color, 10%) !important;
  }
}

.skill-progress-breadcrumbs {
  // float: right;
  overflow: hidden;

  li{
    cursor: pointer;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    background: $light-gray;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    margin-right: 15px;

    &[data-complete=true] {
      background: $success-color;
    }

    &[data-complete=false] {
      background: $notice-color;
    }

    &[data-current=true] {
      width: 1.4em;
      height: 1.4em;
    }
  }
}
